/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --light-grey-blue: #abb2b7;
  --greyish-brown: #595959;
  --coral: #ff4343;
  --light-sky-blue: #dde2e6;
  --blue-grey: #5f7193;
  --greyblue: #7a90b8;
  --brownish-grey: #727272;
  --greyish-brown-two: #424242;
  --brown-grey: #8b8b8b;
  --first-column: 15fr;
}

@font-face {
  font-family: 'OpenSans700';
  font-style: normal;
  font-stretch: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans700.woff2") format("woff2"), url("../fonts/open-sans700.woff") format("woff");
}

@font-face {
  font-family: 'OpenSans400';
  font-style: normal;
  font-stretch: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans400.woff2") format("woff2"), url("../fonts/open-sans400.woff") format("woff");
}

/* noto-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'NotoSans400';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url("../fonts/noto-sans400.woff2") format("woff2"), url("../fonts/noto-sans400.woff") format("woff");
}

/* noto-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'NotoSans400';
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../fonts/noto-sans700.woff2") format("woff2"), url("../fonts/noto-sans700.woff") format("woff");
}

:root {
  background-color: #fafafa;
  font-size: 14px;
}

.header {
  background-color: #f2f2f2;
  display: grid;
  justify-items: center;
  height: 7vh;
}

.header__grid {
  display: grid;
  align-items: center;
  width: 70vw;
  grid-template-columns: var(--first-column) 1fr 1fr;
}

.header__barrier-line {
  color: var(--greyish-brown-two);
}

.header__list-item:not(.header__logo) {
  display: grid;
  justify-content: center;
}

.header__list-item > .button {
  text-transform: uppercase;
}

.header__button_lang_ru {
  opacity: 0.5;
}

.header__list-item_ru::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 1rem;
  background-color: var(--greyish-brown-two);
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
}

.all-pages {
  background-image: url("../img/jpg/depositphotosmin.jpg");
  height: 100vh;
  background-size: cover;
  height: 100vh;
}

.main-screen {
  padding-top: 10rem;
  display: grid;
  padding-left: 15%;
  padding-right: 15%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
}

.main {
  font-family: 'NotoSans400';
}

.main__slogan {
  font-family: 'OpenSans700';
  font-size: 3rem;
  color: var(--greyish-brown-two);
  padding-bottom: 1rem;
}

.main__explanation {
  font-family: 'NotoSans400';
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--brownish-grey);
  width: 80%;
  padding-bottom: 2rem;
}

.main .num-notification {
  border: solid 1px var(--light-sky-blue);
  width: 60%;
  height: 5vh;
  background-color: #fff;
  display: inline-grid;
  align-items: center;
  grid-template-columns: 5fr 1fr;
  padding: 1%;
}

.main .num-notification__phone-number {
  font-family: 'NotoSans400';
  border: none;
  outline: none;
}

.main .num-notification__arrow-submit {
  border: none;
  background-color: #fff;
  width: 20%;
  outline: none;
  display: grid;
  align-items: center;
}

.main .num-notification .next {
  object-fit: contain;
}

.main__instruction {
  padding: .5rem .5rem;
  color: #1f1f1f;
}

.main__instruction-timer {
  padding: .5rem .5rem;
  color: #1f1f1f;
}

.main .tooltip-instructions {
  width: 60%;
}

.main .call-me-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
}

.main .call {
  color: #75af26;
}

.main .phone-icon-container-js {
  border: 5px solid transparent;
  padding: .5rem;
}

.main .phone-icon-container {
  border: 5px solid var(--light-sky-blue);
  border-radius: 50%;
  animation-name: Calling;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
}

@keyframes Calling {
  from {
    transform: scale(0.5);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0.1;
  }
}

.grant-rights__steps {
  font-family: OpenSans400;
  font-size: 1rem;
  color: var(--greyish-brown-two);
}

.grant-rights__subheaders {
  font-family: OpenSans400;
  padding-bottom: 2rem;
}

.grant-rights__list-item {
  font-family: OpenSans400;
  font-size: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.grant-rights__list-item::before {
  content: '';
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  background-image: url("../img/svg/camera.svg");
  background-size: cover;
}

.grant-rights__list-item_last::before {
  background-image: url("../img/svg/micro.svg");
}

.grant-rights__paragraphs {
  font-family: NotoSans400;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  color: #727272;
}

.video-container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f3f3f3;
  width: 100%;
  height: 50vh;
}

.cam-next {
  display: none;
}

.cam-buttons {
  width: 80%;
  height: 3rem;
  border: none;
  background-color: var(--light-sky-blue);
  text-transform: uppercase;
  font-weight: bold;
}

.next-step {
  border: none;
  margin-top: 2rem;
  width: 80%;
  height: 3rem;
  background-color: var(--light-sky-blue);
  text-transform: uppercase;
  font-weight: bold;
}

.cams-controller {
  display: none;
}

.video-play {
  display: none;
}

.reply-time {
  display: none;
  width: 10%;
  height: 3rem;
  border-radius: 8px;
}

.addition-functions {
  display: none;
}

.videos {
  width: 100%;
}

.record-button {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
}

button {
  outline: none;
}

.some-instructions__steps {
  font-family: OpenSans400;
  font-size: 1rem;
  color: var(--greyish-brown-two);
}

.some-instructions__subheaders {
  font-family: OpenSans400;
  padding-bottom: 2rem;
}

.some-instructions__paragraphs {
  font-family: NotoSans400;
  width: 80%;
  height: 40vh;
  overflow: auto;
  font-size: 1.2rem;
  color: #727272;
}

.some-instructions__paragraphs > p {
  text-indent: 1rem;
}

.some-instructions__next-step {
  display: inline-block;
  margin-top: 2rem;
  width: 80%;
}

.some-instructions .strong {
  font-weight: bold;
}

.some-instructions .list {
  list-style: square;
}

.preview__steps {
  font-family: OpenSans400;
  font-size: 1rem;
  color: var(--greyish-brown-two);
}

.preview__subheaders {
  font-family: OpenSans400;
  padding-bottom: 2rem;
}

.preview__paragraphs {
  font-family: NotoSans400;
  width: 80%;
  font-size: 1.2rem;
  color: #727272;
}

.interrogation {
  font-family: OpenSans400;
}

.interrogation__question-num {
  font-family: NotoSans400;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.interrogation__question-num {
  content: '';
  display: block;
  width: 90%;
  border-bottom: 1px solid var(--greyish-brown);
}

.interrogation__subheaders {
  font-family: NotoSans400;
  padding-top: 1rem;
}

.interrogation__question-list {
  font-family: NotoSans400;
  list-style: decimal;
  color: var(--greyish-brown);
  padding: 1rem;
}

.interrogation__question-list > li {
  padding-bottom: 1rem;
}

.interrogation__warning-container {
  background-color: #f3f3f3;
  border-radius: 3px;
  width: 80%;
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
}

.all-screen-load {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(23, 23, 23, 0.75);
  position: absolute;
  z-index: 1;
  top: 0;
}

.all-screen-load .card {
  background-color: #fff;
  height: 30vh;
  width: 30vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: NotoSans400;
}

.all-screen-load .card__subheader {
  font-family: OpenSans400;
  font-size: 2rem;
  text-align: center;
}

.all-screen-load .card__explanation {
  text-align: center;
  color: var(--greyish-brown);
}

.all-screen-load .card__button-container {
  display: flex;
  justify-content: center;
}

.all-screen-load .card__button-container > input {
  height: 3rem;
  width: 30%;
}

.thankful {
  font-family: NotoSans400;
}

.thankful__subheaders {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.thankful__paragraph {
  color: var(--greyish-brown);
  padding-bottom: 2rem;
}

.thankful__post {
  color: var(--greyish-brown-two);
  text-transform: uppercase;
  padding-bottom: .5rem;
}

.thankful__post::after {
  content: '';
  display: block;
  width: 50%;
  border-bottom: 1px solid var(--greyish-brown);
}

.thankful__postman-info {
  color: var(--greyish-brown);
}

.mail {
  display: none;
}

@media only screen and (max-width: 920px) {
  .main-screen {
    padding-top: 5rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 640px) {
  .header__grid {
    width: 90%;
  }
  .all-pages {
    background-image: url("../img/png/group-2.webp");
    background-position: right center;
  }
  .main-screen {
    grid-template-columns: auto;
  }
}
